<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>888711672296-vjv0pnvugq96ek8q2jqs5a9ava4gde1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888711672296-vjv0pnvugq96ek8q2jqs5a9ava4gde1d</string>
	<key>API_KEY</key>
	<string>AIzaSyBiqHh2xFrB_CJbldcXKBhn6GItWL9Uofw</string>
	<key>GCM_SENDER_ID</key>
	<string>888711672296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PhilippEibl.PrimeTime</string>
	<key>PROJECT_ID</key>
	<string>prime-time-22fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>prime-time-22fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:888711672296:ios:e8841e9ac66b6b68</string>
	<key>DATABASE_URL</key>
	<string>https://prime-time-22fb0.firebaseio.com</string>
</dict>
</plist>